#countable{
    display: block;
    text-align: center;
    font-size: 40px;
}
#countable2{
    display: block;
    text-align: center;
    font-size: 40px;

}
#countable3{
    display: block;
    text-align: center;
    font-size: 40px;

}
#result{
    display: block;
    text-align: center;
    font-size: 30px;
}